

html,
body {
    width: 100%;
    height: 100%;
    font-size: 16px;
}

#mainMasthead {
  min-height: 700px;
}
#callout {
  color: #fff;
  padding: 28px;
  height: 240px;
  background: linear-gradient(
      to right,
      rgba(70,83,143,.5), rgba(7,87,86,.6)
    ), url(http://i.imgur.com/0zn8nE6.jpg) no-repeat center center scroll;
  background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#skillIcons {
  margin-top: 14px;
  text-align: center;
}

#top {
  margin-top: 75px;
}

#portfolio {
  width: 60%;
  margin: 22px auto;
}

#morePortfolio {
  margin: 12px auto;
}
