

html,
body {
    width: 100%;
    height: 100%;
    font-size: 16px;

}

#aboutContainer {
  margin-top: 56px;
}

#aboutContainer p {
  margin-top: 38px;
}

#foot {
  margin-top: 80px;
}
#mainMasthead {
  min-height: 700px;
  background-image:  url(img/congruent_outline.png);
  /* Background pattern from subtlepatterns.com */
}
#callout {
  color: #fff;
  padding: 38px;
  height: 300px;
  background: linear-gradient(
      to right,
      rgba(70,83,143,.5), rgba(7,87,86,.6)
    ), url(http://i.imgur.com/0zn8nE6.jpg) no-repeat center center scroll;
  background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

#skillIcons {
  margin-top: 29px;
  text-align: center;
}

#top {
  margin-top: 75px;
  color: white;
}

#portfolio {
  width: 60%;
  margin: 22px auto;
}

#morePortfolio {
  margin: 12px auto;
}

#copy {
  margin: 8px auto;
  text-align: center;
}

#portfolio .item {
  margin-bottom:  36px;

}
 #projContainer {
   padding: 10%;
 }

.whiteText {
  color: white;
}
